lm-mobile-xapi/src/main/mule/mobile-accounts-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="mobile-accounts-eapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mobile-accounts-eapi-config" api="resource::a63ac463-c1e3-4eea-8f3c-128c5fa152aa:lm-mobile-xapi:1.0.0:raml:zip:mobile-accounts-eapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<http:request-config name="HTTP_Request_configuration-account-sapi" doc:name="HTTP Request configuration" doc:id="9c10e9fe-930b-4731-b4a3-da5dc63c6a27" basePath="/${req.base}" >
		<http:request-connection host="${req.host}" port="${req.port}" protocol="HTTPS">
			<tls:context >
				<tls:trust-store path="${req.jkspath}" password="${secure::req.password}" type="jks" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<flow name="mobile-accounts-eapi-main">
        <http:listener config-ref="mobile-accounts-eapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.headers.correlationid]" doc:name="Set Variable for correlationid" doc:id="4cea257d-6fab-4ab3-a147-eee69ceaa1b2" variableName="id"/>
		<apikit:router config-ref="mobile-accounts-eapi-config" doc:id="274ea573-f665-4e88-a29a-50cfab251cd7"/>
        <error-handler ref="globalError_Handler"></error-handler>
    </flow>
    <flow name="mobile-accounts-eapi-console">
        <http:listener config-ref="mobile-accounts-eapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mobile-accounts-eapi-config" />
        <error-handler ref="globalError_Handler">

        </error-handler>
    </flow>
	<flow name="put:\accounts\(accountid):application\json:mobile-accounts-eapi-config">
		<http:request method="PUT" doc:name="Request call for PAPI" doc:id="fa23283d-30ef-4112-bc60-937d5174f68f" config-ref="HTTP_Request_configuration-account-sapi" url="${req.url1}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : p("req.id"),
	"client_secret": p("req.secret"),
	"correlationid": vars.id
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"accountid" : attributes.uriParams.accountid
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"client_" : "Value"
}]]]></http:query-params>
		</http:request>
		<error-handler ref="globalError_Handler" />
    </flow>
    <flow name="delete:\accounts\(accountid):mobile-accounts-eapi-config">
		<http:request method="DELETE" doc:name="Request call for SAPI" doc:id="25ff59bc-6c4a-46c1-af43-3acdf768d6b1" config-ref="HTTP_Request_configuration-account-sapi" path="${req.path}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : p("req.id"),
	"client_secret": p("req.secret"),
	"correlationid": vars.id
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"accountid" : attributes.uriParams.accountid
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"client_" : "Value"
}]]]></http:query-params>
		</http:request>
		<error-handler ref="globalError_Handler" />
    </flow>
    <flow name="get:\accounts\(accountid):mobile-accounts-eapi-config">
		<http:request method="GET" doc:name="Request call for SAPI" doc:id="8d12762e-86f4-4f43-bfe6-adfef1947918" config-ref="HTTP_Request_configuration-account-sapi" path="${req.path}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : p("req.id"),
	"client_secret": p("req.secret"),
	"correlationid": vars.id
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"accountid" : attributes.uriParams.accountid
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"client_" : "Value"
}]]]></http:query-params>
		</http:request>
		<error-handler ref="globalError_Handler" />
    </flow>
    <flow name="post:\accounts:application\json:mobile-accounts-eapi-config">
		<http:request method="POST" doc:name="Request call for PAPI" doc:id="f7be7181-6a9d-4982-aca7-fa383b14a8ef" config-ref="HTTP_Request_configuration-account-sapi" url="${req.url}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : p("req.id"),
	"client_secret": p("req.secret"),
	"correlationid": vars.id
}]]]></http:headers>
		</http:request>
		<error-handler ref="globalError_Handler" />
    </flow>
</mule>
